/* colors based on http://chir.ag/projects/name-that-color/ */
$color-abbey: #535354;
$color-blue-marguerite: #6667c9;
$color-mercury: #e6e6e6;
$color-silver-chalice: #a7a7a7;
$color-white: #ffffff;

/* font weights */
$medium: 500;
$bold: 900;

/* breakpoints */
$mobile-small: 320px;
$mobile-medium: 375px;
$mobile-large: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-large: 1440px;
$bigger-screen: 1441px;
